{% extends 'Base.html' %}
{% load static %}
{% block contentNav %}
    <div class="p-5">
        <h1>Posts Públicos</h1>
    </div>
    <div class="container">
        <div class="card p-5">
            <img src="http://127.0.0.1:8000/media/{{ foto.foto }}" class="img-thumbnail w-100 p-1">
            <h1>{{ foto.username_id }}</h1>
            <p>{{ foto.descripcion }}</p>
        </div>
        {% for c in comment %}
            <div class="block flex">
                <p><a href="/cuentas/{{ c.username_id }}">{{ c.username_id }}:</a><br>{{ c.text }}
                    <span>{{ c.date }}</span>
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}