{% extends 'Base.html' %}
{% load static %}
{% block contentNav %}
    <h1 class="text-center">{{ nombre }}</h1>
    <div class="container">
        <div class="row ">
            {% for p in personal %}
                <div class="card shadow-lg m-3 p-3" style="width: 18rem;">
                    <img class="card-img-top"  src="http://127.0.0.1:8000/media/{{ p.foto }}">
                    <div class="card-body">
                        <h5 class="card-title text-center pb-1">{{ p.username_id }}</h5>
                    </div>
                    <span class="center"> {{ p.descripcion }}</span>
                    <a href="/posts/{{ p.username_id }}/{{p.comment_code}}">Mostrar mas</a>
                </div>
            {% endfor %}
        </div>

    </div>


{% endblock %}