{% extends 'Base.html' %}
{% load static %}
{% block contentNav %}
<h1 class="text-center">{{nombre}}</h1>
<div class="container">
    <div class="row ">
        <div class="card shadow-lg m-3 p-3" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'img/image.png' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center pb-1">{{username}}</h5>
            </div>
            <span> {{descripción}}</span>
        </div>
    </div>

</div>


{% endblock %}