{% extends 'Base.html' %}
{% load static %}
{% block contentNav %}
    <div class="p-5">
        <h1>Info User</h1>
    </div>

    <div class="container ">
        <div class="col-xl-4">
            {% for u in cuentas %}
                <div class="card p-5">
                        <img class="center img-thumbnail w-25 p-1" src="http://127.0.0.1:8000/media/{{ u.profile }}">
                    <h1 class="text-center">{{ u.username }}</h1>
                    <div class="text-left ml-2">
                        <p class="">Contraseña: {{ u.password }}</p>
                        <p class="">Email: {{ u.email }}</p>
                        <p class="">Teléfono: {{ u.tlfn }}</p>
                        <p class="">Biografía: {{ u.biography }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}