{% extends 'Base.html' %}
{% load static %}
{% block contentNav %}
<div class="p-5">
    <h1>Info User</h1>
</div>

<div class="container ">
    <div class="col-xl-4">
         <img src="http://127.0.0.1:8000/media/{{ cuenta.profile }}" class="img-thumbnail w-25 p-1">
        <p>Username: {{ cuenta.username }}</p>
        <p>Email: {{ cuenta.email }}</p>
        <p>Phone: {{ cuenta.tlfn }}</p>
        <p>
            Bigraphy:
            {{ cuenta.biography }}
        </p>
    </div>
</div>
{% endblock %}