{% extends 'Base.html' %}
{% load static %}
{% block contentNav %}

<div class="p-5">
    <h1>Config User</h1>
</div>

<div class="container">
    <div class="col">
        <div class="container ">

            <div class="card text-center m-3 p-3">
                <p>{{Nombre}}</p>
                <button class="btn btn-success">Cambiar nombre</button>
            </div>
            <br>
            <div class="card text-center m-3 p-3">
                <p>{{Contraseña}}</p>
                <button class="btn btn-success ">Cambiar contraseña</button>
            </div>
            <div class="card text-center m-3 p-3">
                <p>{{Email}}</p>
                <button class="btn btn-success ">Cambiar Email</button>
            </div>
            <div class="card text-center m-3 p-3">
                <p>{{Fotografía}}</p>
                <button class="btn btn-success ">Cambiar Fotografia de Perfil</button>
            </div>
            <div class="card text-center m-3 p-3">
                <p>{{Teléfono}}</p>
                <button class="btn btn-success ">Cambiar Teléfono</button>
            </div>
            <div class="card text-center m-3 p-3">
                <p>{{Biography}}</p>
                <button class="btn btn-success ">Cambiar Biografía</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}